@import "tailwindcss";
@plugin "daisyui" {
  themes: nord;
}

@plugin 'tailwind-scrollbar';

@layer base {
  #root {
    @apply min-h-[100dvh] flex flex-col relative;
    font-family: "Manrope", sans-serif;
  }
}

@layer components {
  .auth-form {
    @apply card w-[95dvw] max-w-md bg-base-100 p-6 space-y-4;
  }

  .loader {
    @apply w-dvw h-dvh fixed top-0 left-0 z-9999 flex justify-center items-center bg-base-100;
  }

  .loader-main {
    @apply absolute w-full h-dvh top-0 left-0 z-10 flex justify-center items-center bg-base-100;
  }
}

@layer utilities {
  .shadow-full {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.4);
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .scrollbar {
    @apply overflow-y-auto
    scrollbar-thin
    scrollbar-track-base-200
    scrollbar-thumb-base-300;
  }
}

@media (max-width: 640px) {
  .Toastify__toast {
    max-width: 300px;
    margin: 0 10px 10px 0;
  }
}
