@import "tailwindcss";
@plugin "daisyui" {
  themes: nord;
}

@layer base {
  #root {
    @apply min-h-[100dvh] flex flex-col justify-center items-center relative;
    font-family: "Manrope", sans-serif;
  }
}

@layer components {
  .auth-form {
    @apply card w-[95dvw] max-w-md bg-base-100 p-6 space-y-4;
  }
}

@layer utilities {
  .shadow-full {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.4);
  }
}

@media (max-width: 640px) {
  .Toastify__toast {
    max-width: 300px;
    margin: 0 10px 10px 0;
  }
}
